# Dependencies
node_modules/

# Angular build
dist/
.angular/
.angular/cache

#Next.js build
.next
next-env.d.ts

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# coverage
coverage/

# temp files
tmp/

# screenshots (optional)
*.jpg

.cache