<div class="search-container">
  <div class="search-card">
    <h2 class="title">IGNOU Grade Card Checker</h2>
    <p class="subtitle">Check your academic performance instantly</p>

    <div *ngIf="errorMessage()" class="error-box">
      <span class="icon">⚠️</span> {{ errorMessage() }}
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="search-form">
      <div class="form-group">
        <label for="program">Program</label>
        <select id="program" formControlName="program">
          <option value="">Select Program</option>
          <option value="BCA">BCA</option>
          <option value="BCAOL">BCAOL</option>
          <option value="BCA_NEW">BCA_NEW</option>
          <option value="BCA_NEWOL">BCA_NEWOL</option>
          <!-- <option value="MCA">MCA</option>
          <option value="MCA_NEW">MCA_NEW</option>
          <option value="MCAOL">MCAOL</option>
          <option value="MCA_NEWOL">MCA_NEWOL</option> -->
        </select>
      </div>

      <div class="form-group">
        <label for="enrollment">Enrollment Number</label>
        <input
          id="enrollment"
          type="text"
          placeholder="Enter 10 digit number"
          formControlName="enrollment"
          [class.input-error]="errorMessage()"
        />
      </div>

      <button 
        type="submit" 
        class="search-btn" 
        [disabled]="form.invalid || isLoading()"
      >
        <span *ngIf="!isLoading()">Search Grade Card</span>
        
        <div *ngIf="isLoading()" class="loader-container">
          <span class="spinner-small"></span>
          <span>Verifying with IGNOU...</span>
        </div>
      </button>
    </form>
  </div>
</div>